body{
    background-image: url("../img/fondo4.jpg");
    background-size: cover;
}
.formulario{
    background-color: #2ABBEC;
    padding: 20px;
    width: 40%;
    border-radius: 8px;
    margin-left: 5%;
    margin-top: 8%;
}